html, body {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

body > div {
    flex: 1 1 50%;
}

#f-container {
    display: flex;
    flex-direction: row;
    padding: 3px;
}

#f-container > div {
    flex: 1 1 50%;
    margin: 3px;
    display: flex;
    flex-direction: column;
}

#log {
    background: lightgrey;
}

.browse-header {
    display: flex;
    margin-bottom: 5px;
}

.browse-header input {
    flex: 1 1 auto;
}

.browse {
    border: solid 1px grey;
    flex: 1 1 auto;
}
